<div class="control-panel">
  <div class="section">
    <FieldResize />
  </div>
  <div class="section">
    <input on:click="fire('init')" type="button" value="init" />
  </div>
  <div class="section">
    <FieldType />
  </div>
  <div class="section">
    <input on:click="fire('next')" type="button" value="next" />
  </div>
  <div class="section">
    <button on:click='$set({ stopped: !$stopped})'>
      {#if $stopped}
      <div>
        <span>⌛</span>
      </div>
      {:else}
      <div style="transform:rotate(180deg);">
        <span>⌛</span>
      </div>
      {/if}
    </button>
  </div>
  <div class="section">
    <Interval on:next="fire('next')" />
  </div>
  <!--
    TODO: make a color profile / state selection component
    FIXME: switcher with many different states, not only 2
  -->
  <!--
  <div class="section">
    <input on:click='$set({ statecolors: $statecolors.length === 3
      ? $stati[0]
      : $stati[1]
    })' type="button" value="{`${$statecolors ? $statecolors.length: 0} states`}" />
  </div>
  -->
</div>
<slot></slot>

<style>
  button,
  input[type="button"] {
    background-color: lightblue;
    border-radius: 6px;
    border-color: darkcyan;
  }

  /* style alternative state  */

  button:d {
    background-color: darkviolet;
  }

  .control-panel {
    display: flex;
    justify-items: center;
    justify-content: flex-start;
    background: seashell;
    padding: 4px;
    margin: 2px;
  }

  .section {
    border-left: 1px solid greenyellow;
  }

  .min-width {
    width: 100px;
  }
</style>

<script>
  import FieldResize from './controls/FieldResize.html'
  import FieldType from './controls/FieldType.html'
  import Interval from './controls/Interval.html'

  export default {
    oncreate() {
      this.store.set({ stopped: false })
      const autostart = t => t.fire('init')
      setTimeout(autostart, 200, this)
      },
    components: {
      FieldResize,
      FieldType,
      Interval,
    }
  }
</script>
