<svg width="100%" height="100%" viewBox="0 8 {x} {y}">
  <defs>
    <polygon id="hexagon" points="{hexagon}" opacity="1" stroke-opacity="0.2" stroke="#efefef" />
  </defs>
  <g transform="matrix(1.35,0,0,1.195,0,0)">
    {#each field as f, i}
    <g transform="matrix(1,0,0,1,{f.x * 75 * $size},{f.y * 86.66 * $size})">
      <use href="#hexagon" fill="{cellstate($statecolors, f.v)}" x="{0}" y="{(f.x % 2 === 1) ? 6.66 * $size : 50 * $size}" on:click="fire('cell', {x: f.x, y: f.y, s: $statecolors.length})"
      />
    </g>
    {/each}
  </g>
</svg>

<style>
  svg {
    width: 100%;
    height: 500px;
    border: 1px solid white;
  }
</style>

<script>
  import { hexagonal } from '../modules'

  const { scale } = hexagonal

  export default {
    data() {
      return {
        field: [],
        hexagon: scale(),
        // circle: { offset: 50 },
      }
    },
    computed: {
      hexagon: ({ $size }) => scale($size),
      x: ({ $size, $x }) => 100 * $size * $x,
      y: ({ $size, $y }) => 100 * $size * $y,
    },
    helpers: {
      cellstate: (colors, n) => n < colors.length ? colors[n] : colors[0]
    },
  }
</script>
